{% extends "layout.html" %}

{% block title %}Events{% endblock %}

{% block content %}
<!-- Content specific to the home page -->
<body>
    <h1>Events</h1>
    <ul>
        {% for event in events %}
            <li>
                <strong>Date:</strong> {{ event.date }}<br>
                <strong>Location:</strong> {{ event.location }}<br>
                <strong>Player Limit:</strong> {{ event.player_limit }}<br>
                <strong>Private:</strong> {{ 'Yes' if event.private else 'No' }}<br>
            </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
